@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

body{
    font-family: "Arial", sans-serif;
    padding: 10px;
    background-color: #018001;
}

#app{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.2);
}

h1{
    font-family: 'Ubuntu';
    font-size: 30px;
    color: #018001;
    text-align: center;
    margin-bottom: 50px;
}

h3{
    font-family: 'Ubuntu';
    margin-bottom: 5px;
    color: #333;
}
p{
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #018001;
    box-sizing: border-box;
}
input:hover{
    border: 2px solid #f8ee1e;
}

button{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 30px;
    background-color: #f8ee1e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
}

button:hover{
    background-color: #018001;
    color: #eee;
}

#costResult,
#timeResult,
#profitMarginResult {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    display: none;
}

.description{
    font-size: 12px;
    color: #018001;
}

footer{
    text-align: center;
    margin-top: 10px;
}

.creditos{
    font-size: 1em;
    color: #eee;
}

.twitch{
    text-decoration: none;
    color: #f8ee1e;
    font-weight: bold;
}

.logo{
    align-items: center;
    max-width: 50%;
}